body{
   background-image:url(C:/Users/PC/Desktop/Simulation-Btc/logos/system-open.png);
  background-size: 1380px 680px;	
 background-repeat: no-repeat;
}
#nav-bar{
	border-radius:3px;
    height:33px;
	width:1366px;
 display:flex;
 background-color:linear-gradient(90deg,#CBCCC6,#CBCCC6,#D9DAD5,#D9DAD5);
 	position: relative;
	left:-8px;
	top:615.23px;	
	 overflow-y: hidden;

}
#block1{
	border-radius:2px;
	/*border: 0.5px solid black;*/
	background:linear-gradient(90deg,#CBCCC6,#CBCCC6,#D9DAD5,#D9DAD5);
	width: 230px
}
#paradox-system{
	position:relative;
	left:20px;
	top:-1px
}
#block2{
	border-radius:2px;
	background:linear-gradient(180deg,#CBCCC6,#CBCCC6,#D9DAD5,#D9DAD5);
	width: 890px
}
#block3{
	border-radius:2px;
	/*border: 0.5px solid black;*/
	background:linear-gradient(90deg,#CBCCC6,#CBCCC6,#D9DAD5,#D9DAD5);
	width: 231px
}
#calander{
	width:40px;
	position:relative;
	left:0px;
	top:-5px
}
#date{
	width:108px;
	position:relative;
	top:-13px;
	left:22px
}
#desktop{
	width:53px;
	position:relative;
	top:-8px

}
#setting{
	width:53px;
	position:relative;
	top:20px;

}
#recycle{
	position: relative;
	top:40px;
	width:53px;
}
#miner{
	position: relative;
	top:60px;
	width:53px;
}
#wallet{
	position: relative;
	top:85px;
	width:53px;
}
#prog-wallet{
	visibility:hidden;
	position: relative;
	left:445px;
	top:-130px;
	border-radius:5px;
	background:linear-gradient(90deg,#CBCCC6,#CBCCC6,#D9DAD5,#D9DAD5);
	width:660px;
	height:400px;
	margin:-100px
}
#bar-close{
	border-radius:4px;
	background:linear-gradient(-90deg,#97978F,#818380,#818380,#97978F);
	height:28px;
	width:660px
}
#x-logo{
	width:50px;
	position:relative;
	left:620px;
	top:-39px
}
#logo-stom-prog{
	width:122px;
	position: relative;
	top:-53px;
	left:-45px
}
#stom-logo{
	width:150px;
	position: relative;
	top:-40px;
	left:245px
}
#your-balance{
	width:265px;
	position: relative;
	left:35px;
	top:5px

}
#balance-value{
	font-size:35px;
	font-family:"Palatino Linotype";
	position:relative;
	left:320px
}
#icon{
	width:30px;
	position:relative;
	left:10px
}
#x-logo-0{
	visibility:hidden;
	width:50px;
	position:relative;
	left:966px;
	top:-441px
}
#name-miner{
	visibility:hidden;
	width:110px;
	position: relative;
	left:307px;
	top:-458px
}
#miner-electro-logo{
	visibility:hidden;
	width:28px;
	position:relative;
	left:310px;
	top:-453px
}
#cmd{
	margin:-350px;
	width:650px;
	height:355px;
	background-color:black;
	position:relative;
	top:-100px;
	left:700px;
	border-radius:4px;

	}

#cmd{
	visibility:hidden;
	color:green;
	overflow:scroll
}
#command{
	border:none;
	visibility:hidden;
	color:green;
	background-color:black;
	width:200px;
	height:23px;
	
}
#help{
	visibility:hidden;
	color:green;
	font-size:16px;
	position:relative;
	top:8px
}
#user-name{
	position: relative;
	top:15px
}
#check{
    visibility:hidden;
	background:black;
	width:130px;
	height:25px;
	position:relative;
	top:-84px;
	left:450px;
	font-size:21px
}